
.sidebar {
  height: calc(100vh - var(--navbar-height));
  background-color: #F6EAE2;
  padding: 15px;
  width: fit-content;

  a {
    text-decoration: none;
    color: #000;
  }

  * {
    margin-bottom: 5px;
  }
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-items {
  list-style: none;
}

.sidebar-tab, .sidebar-item, .settings-button {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }

  span {
    font-size: 18px;
  }
}
