:root {
  --sidebar-width: 250px
}

.barra-navegacao {
  position: fixed;
  width: 100%;
}

.page-content {
  position: absolute;
  width: 100%;
  top: var(--navbar-height);
  display: flex;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: var(--navbar-height);

  height: calc(100vh - var(--navbar-height));
  background-color: #F6EAE2;
  padding: 15px;

  a {
    text-decoration: none;
    color: #000;
  }

  .sidebar-split {
    margin-bottom: 5px;
  }
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-items {
  list-style: none;
  .sidebar-item, .sidebar-tab {
    margin-bottom: 10px;
  }
}

.sidebar-tab, .sidebar-item, .settings-button {
  padding: 5px;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }

  span {
    font-size: 18px;
  }
}

.selected-tab {
  background-color: #873f3f57;
  border-left: #501A17 5px solid;
}

.main-content {
  margin: 0 auto;
  margin-left: var(--sidebar-width);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.open-sidebar-button, .close-sidebar-button {
  background-color: transparent;
  border: none;

  display: none;
}

.open-sidebar-button {
  img {
    filter: invert();
  }
}

@media (max-width: 700px) {
  .open-sidebar-button, .close-sidebar-button {
    display: inherit;
  }

  .page-content {
    display: block;
  }

  .main-content {
    margin: 0 auto;
  }

  .sidebar {
    overflow-y: scroll;
    z-index: 1;
    display: none;
    /* top: 0; */
    margin: 0;
    position: fixed;
  }

  .event-section {
    flex-wrap: wrap;
  }
}