
.page-content {
  display: flex;
}

.sidebar {
  position: sticky;
  top: var(--navbar-height);

  height: calc(100vh - var(--navbar-height));
  background-color: #F6EAE2;
  padding: 15px;
  width: fit-content;

  a {
    text-decoration: none;
    color: #000;
  }

  .sidebar-split {
    margin-bottom: 5px;
  }
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-items {
  list-style: none;
  .sidebar-item, .sidebar-tab {
    margin-bottom: 10px;
  }
}

.sidebar-tab, .sidebar-item, .settings-button {
  padding: 5px;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }

  span {
    font-size: 18px;
  }
}

.selected-tab {
  background-color: #873f3f57;
  border-left: #501A17 5px solid;
}

.main-content {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

